@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theming colors: 
navy: #031b28 
lighter: #0b2b3b
083248 - turq?
8c0e0f - redish
e89c31 - gold
dba858 - burnt orange type
copper: #B87333
*/

body {
    @apply dark:bg-[#031b28] bg-[#F0F0E7] dark:text-gray-300 text-gray-700;
}

li {
    @apply cursor-pointer;
}